@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.active {
    color: #001942;
    border-bottom: 3px solid #001942;
}

header {
    width: 100vw;
    text-align: center;

    nav {
        background-color: #b1d281;
        padding: 1.5rem;

        a {
            font-size: 1.2rem;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

main {
    padding: 1.5rem;

    .prodotti {
        .tipo {
            margin-bottom: 50px;

            h2 {
                text-transform: uppercase;
                text-align: center;
                font-size: xx-large;
                margin-bottom: 30px;
                color: #002d75;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2rem;
                row-gap: 2rem;

                .prodotto {
                    width: 100%;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 0.75s ease;
                    }

                    .overlay {
                        position: absolute;
                        inset: 0;
                        background-color: #ffffffa1;
                        display: none;

                        h3 {
                            font-weight: normal;
                            font-size: 22px;
                            color: #001942;
                            text-align: center;
                            position: relative;
                            padding-bottom: 8px;

                            a {
                                text-decoration: none;
                                color: inherit;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                height: 1px;
                                width: 10px;
                                transform: translateX(-50%);
                                border-bottom: 2px solid #001942;
                            }
                        }

                        svg {
                            cursor: pointer;
                            transition: fill 0.2s ease;

                            &:hover {
                                fill: #001942;
                            }
                        }
                    }

                    &:hover img {
                        transform: scale(1.15);
                    }

                    &:hover .overlay {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                    }
                }
            }
        }
    }
}

footer {
    background-size: cover;
    background-position: bottom;
    background-color: #ffffffd9;
    background-blend-mode: overlay;
    color: #001942;

    .container {
        width: 80%;
        margin: auto;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10rem;

        .menus {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 3rem;

            ul {
                list-style: none;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                & li:first-child {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
}
