@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    min-height: 100vh;
}

header {
    width: 100vw;
    text-align: center;

    nav {
        background-color: #b1d281;
        padding: 1.5rem;

        a {
            font-size: 1.2rem;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

main {
    padding: 1.5rem;

    .prodotti {
        .tipo {
            margin-bottom: 50px;

            h2 {
                text-transform: uppercase;
                text-align: center;
                font-size: xx-large;
                margin-bottom: 30px;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2rem;
                row-gap: 2rem;

                .prodotto {
                    width: 100%;
                    height: 290px;
                    border-radius: 0.5rem;
                    position: relative;
                    background-size: cover;
                    background-position: center;
                    transition: background-size 1s ease;

                    .overlay {
                        position: absolute;
                        inset: 0;
                        background-color: #ffffff70;
                        display: none;

                        h3 {
                            font-weight: normal;
                            font-size: 22px;
                            color: #001942;
                            text-align: center;
                            position: relative;
                            padding-bottom: 8px;

                            a {
                                text-decoration: none;
                                color: inherit;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                height: 1px;
                                width: 10px;
                                transform: translateX(-50%);
                                border-bottom: 2px solid #001942;
                            }
                        }
                    }

                    &:hover {
                        background-size: 110% 110%;
                    }

                    &:hover .overlay {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                    }
                }
            }
        }
    }
}
