@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
}

header {
  width: 100vw;
  text-align: center;
}

header nav {
  background-color: #b1d281;
  padding: 1.5rem;
}

header nav a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}

main {
  padding: 1.5rem;
}

