@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.active {
  color: #001942;
  border-bottom: 3px solid #001942;
}

header {
  width: 100vw;
  text-align: center;
}

header nav {
  background-color: #b1d281;
  padding: 1.5rem;
}

header nav a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}

main {
  padding: 1.5rem;
}

main .prodotti .tipo {
  margin-bottom: 50px;
}

main .prodotti .tipo h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
  color: #002d75;
}

main .prodotti .tipo .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

main .prodotti .tipo .cards .prodotto {
  width: 100%;
  position: relative;
  overflow: hidden;
}

main .prodotti .tipo .cards .prodotto img {
  width: 100%;
  height: 100%;
  transition: transform 0.75s ease;
}

main .prodotti .tipo .cards .prodotto .overlay {
  position: absolute;
  inset: 0;
  background-color: #ffffffa1;
  display: none;
}

main .prodotti .tipo .cards .prodotto .overlay h3 {
  font-weight: normal;
  font-size: 22px;
  color: #001942;
  text-align: center;
  position: relative;
  padding-bottom: 8px;
}

main .prodotti .tipo .cards .prodotto .overlay h3 a {
  text-decoration: none;
  color: inherit;
}

main .prodotti .tipo .cards .prodotto .overlay h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 10px;
  transform: translateX(-50%);
  border-bottom: 2px solid #001942;
}

main .prodotti .tipo .cards .prodotto .overlay svg {
  cursor: pointer;
  transition: fill 0.2s ease;
}

main .prodotti .tipo .cards .prodotto .overlay svg:hover {
  fill: #001942;
}

main .prodotti .tipo .cards .prodotto:hover img {
  transform: scale(1.15);
}

main .prodotti .tipo .cards .prodotto:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main .address {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .address h2 {
  padding: 1rem;
  text-align: center;
  font-weight: normal;
}

main .address h2:first-child {
  font-size: 28px;
  border-bottom: 1px solid #80808038;
  text-transform: uppercase;
}

footer {
  background-size: cover;
  background-position: bottom;
  background-color: #ffffffd9;
  background-blend-mode: overlay;
  color: #001942;
}

footer .container {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
}

footer .container .menus {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 3rem;
}

footer .container .menus ul {
  list-style: none;
}

footer .container .menus ul a {
  text-decoration: none;
  color: inherit;
}

footer .container .menus ul a:hover {
  text-decoration: underline;
}

footer .container .menus ul li:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

